.scenario-form {
  border: 1px solid #dedede;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #fff;
}

.scenario-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.scenario-input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.add-scenario-button {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.confirm-button {
  padding: 10px;
  background-color: #f85d48;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
